body, html{
    margin:0;
    padding:0;
}

html {
    height: 100%;
}

body{
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;

    background-image: url("../assets/Forest-trees-green-nature_1920x1080.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: #1d4a20;
}

.form{
    display: flex;
    flex-direction: column;

    margin: 2%;
    padding: 2%;
    min-width: 50%;
}

.form>button , .form>input, .form>label .form>.error{
    font-family: sans-serif;
    width: 100%;
    height: 30px;
}

.form>button , .form>input{
    border: 1px solid #212121;
    border-radius: 25px;
    padding: 0 25px;
    height: 40px;
}

.form>label{
    margin-bottom: 10px;
    font-family: sans-serif;
    color: #e9e9e9;
    margin-top: 10px;
}

.form>input{
    margin-bottom: 20px;
    background-color: #39393993;
    color: #e9e9e9;
    width: auto;
}

.form>button{
    width: auto;
    font-size: larger;
    background: #484848;
    color: #e9e9e9;
    text-decoration: none;
}

.form>button:hover{
    background: #212121;
    box-shadow: 0px 0px 10px 5px #393939;
}

.form>button:active{
    background: #484848;
    box-shadow: 0px 0px 10px 5px #212121;
}

.error{
    text-decoration: underline;
}

.bloc_bienvenu{
    min-width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titre{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #e9e9e9;
}

.login-box{
    border: 2px solid #636363;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;

    background-color: rgba(0,0,0, 0.4);

    width: 50%;
    min-width: 360px;
}

.login-box>.register{
    backdrop-filter: blur(50px);
    
    background: #484848;
    color: #e9e9e9;
    border-radius: 10px;
    text-decoration: none;

    border: none;
    flex: auto;
    text-align: center;

    margin: 2%;
    padding: 2%;
    min-width: 50%;
}

.login-box>.register:hover{
    background: #212121;
    box-shadow: 0px 0px 10px 5px #393939;
}

.login-box>.register:active{
    background: #484848;
    box-shadow: 0px 0px 10px 5px #212121;
}

.div-box{
    border: 2px solid #636363;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;

    background-color: rgba(0,0,0, 0.4);

    width: 50%;
    min-width: 360px;
}

.a_button{
    background: #484848;
    color: #e9e9e9;
    border-radius: 10px;
    text-decoration: none;

    border: none;
    flex: auto;
    text-align: center;

    margin: 2%;
    padding: 2%;
    min-width: 50%;
}

.a_button:hover{
    background: #212121;
    box-shadow: 0px 0px 10px 5px #393939;
}

.a_button:active{
    background: #484848;
    box-shadow: 0px 0px 10px 5px #212121;
}

@media screen and (max-width: 500px) {
    .login-box{
        width: 360px;
    }
}

/*header*/

.header{
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #1d4a20;
    padding: 5px 5px;
}

.header a{
    display: flex;
    flex-direction: row;
    float: left;
    color: #e9e9e9;
    text-align: center;
    padding: 12px;
    margin-left: 5px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header-right a:hover{
    background-color: #173a19;
}

.header a.logo {
    font-weight: bold;
}

.header-right {
    margin-right: 5px;
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
        margin: 2px;
        background-color: #173a19;
        padding-top: 1px;
        padding-bottom: 1px;
    }

    .header-right a {
        font-size: 15px;
        font-weight: bold;
        margin: 5px;
    }

    .header-right a:hover {
        background-color: #1d4a20;
    }
}
